#-------------------------------------------------------------------------------
# killswitch-boot.service
# KillSwitch
#
# Copyright (c) 2019 Dana Hynes.
# All rights reserved.
#
# VERSION_NUMBER=0.3.0
#-------------------------------------------------------------------------------

 [Unit]
 Description=KillSwitch boot service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/local/bin/killswitch-boot.py &

 [Install]
 WantedBy=multi-user.target

 # -)
