#-------------------------------------------------------------------------------
# killswitch-shutdown.service
# KillSwitch
#
# Copyright (c) 2019 Dana Hynes.
# All rights reserved.
#
# VERSION_NUMBER=0.3.2
#-------------------------------------------------------------------------------

[Unit]
Description=KillSwitch shutdown service
RequiresMountsFor=/usr/local/bin

[Service]
Type=oneshot
ExecStop=/usr/local/bin/killswitch-shutodwn.py &
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

# -)
